<div class="col-md-12">	
	 <div class="panel panel-info">
	<% @guesses.each do |guess| %>

 
	
	<div class="panel-heading">
	  <h3 class="panel-title">
		<%= link_to("Guess #{guess.id}", guess) %>: <%= guess.speed %>mph in a <%= guess.speed_limit %>mph zone
		</h3>
	</div>
	
	<div class="panel-body">
		
		<ul class="guesses-stats">
			<li>Address: <%= guess.full_address %></li>
			<li>Nearby guesses: <% if guess.nearbys(50) %>
			  <% guess.nearbys(50).each do |g| %>
			  <%= link_to(g.address, g) %>
			            <% end %>
			            <% end %> 	</li>		
     

	   </ul>       
	</div>
  	 
  <% end %>
  </div>
</div>


