<ul class="list-group">
      <li class="list-group-item">
	    <h4 class="list-group-item-heading">Speed limit</h4>
        <p class="list-group-item-text"><%= @guess.speed_limit %></p>
	 </li>
	
	  <li class="list-group-item">
		<h4 class="list-group-item-heading">Speed to go</h4>
		<p class="list-group-item-text"><%= @guess.speed %></p>
	  </li>
	
	  <li class="list-group-item">
		<h4 class="list-group-item-heading">    Address</h4>
		<p class="list-group-item-text"><%= @guess.address %></p>
      </li>

	  <li class="list-group-item">
		<h4 class="list-group-item-heading">   Latitude</h4>
		<p class="list-group-item-text"><%= @guess.latitude %></p>
	  </li>
	
	  <li class="list-group-item">
		<h4 class="list-group-item-heading">  Longitude</h4>
		<p class="list-group-item-text"><%= @guess.longitude %></p>
	  </li>
	
	  <li class="list-group-item">
	    <h4 class="list-group-item-heading">Notes</h4>
		<p class="list-group-item-text"><%= @guess.notes %></p>
	  </li>
	
	  <li class="list-group-item">	
		<h4 class="list-group-heading">Nearby guesses
			<span class="badge"><%= @guess.nearbys.count %></span>
		</h4> 
      <% if @guess.nearbys(50) %>
	    <p class="list-group-item-text">
	        <% @guess.nearbys(50).each do |g| %>
				<ul class="nearby-guesses">
				  <li><%= link_to(g.address, g) %></li>
				</ul>
		    <% end %>
      <% end %>
		</p>
	  </li>
    </ul>