<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@guess) do |f| %>
       <%= render 'shared/error_messages', object: f.object %>
		
	   <%= f.label :address %>
       <%= f.text_field :address %>

       <%= f.label :speed_limit %>
       <%= f.text_field :speed_limit %>

       <%= f.label :speed %>
       <%= f.text_field :speed %>

       <%= f.label :street %>
       <%= f.text_field :street %>
       
	   <%= f.label :city %>
       <%= f.text_field :city %>

	   <%= f.label :state %>
       <%= f.text_field :state %>


       <%= f.submit "I solemnly swear that this is good advice", class: "btn btn-large btn-primary" %>
    <% end %>
       
  </div>
</div>
