 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	     <%= link_to("Smart Speed", root_path, :class => "navbar-brand") %>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	      <li><%= link_to("Home", root_path) %></li>
	      <li><%= link_to("Submit", :controller => :guesses, :action => :new, "data-toggle" => "tab") %></li>
	      <li><%= link_to("All guesses", :controller => :guesses, :action => :index) %></li>
	    </ul>
		 <ul class="nav navbar-nav navbar-right">
		      	<li><%= link_to("About", :controller => :static_pages, :action => :about, "data-toggle" => "tab") %></li>
			    <li><%= link_to("Contact", :controller => :static_pages, :action => :contact, "data-toggle" => "tab" )%>
		 </ul>
	    <%= render 'layouts/searchform' %>
	   
	  </div><!-- /.navbar-collapse -->
	</nav>